#contact{
    margin-top: 100px; 
    padding-top:50px; 
}

#alumni{
    margin-bottom: 100px;
    padding-bottom: 50px; 
}

#seperate{
    height: 150px auto; 
}

iframe{
    margin-top: 500px; 
}

#a_div{
    margin-left: 50px; 
    
}